mdph.crt
mdph.key
/node_modules
/dist
!/spip
/spip/*
!/spip/service-worker.js
!/spip/sw.js
!/spip/manifest.json
!/spip/squelettes
!/spip/plugins
!/spip/plugins/*
/spip/plugins/auto
!/spip/config
/spip/config/*
!/spip/config/mes_options.php
**/css/styles.css
.DS_Store
.vscode
