$break-menu: 800px;
$couleur-cadre: rgb(194, 193, 193);
form {
  padding: 0.5em 1em;
  margin: 1em 0;
  background-color: #E4F2F2;
  fieldset {
    padding: 0.5em;
    legend {
      font-family: "robotocondensedbold";
      padding: 0.5em;
    }
  }

  label {
    font-family: "robotocondensedbold";
    display: block;
    margin: 1em 0 0.5em 0;
  }
  input[type=text],input[type=email],select {
    font-size: 1em;
    border: 1px solid $couleur-cadre;
    padding: 0.3em 1em;
    @media screen and (max-width: $break-menu) {
      width: 100%;
    }
  }

    label.inline_norm, .saisie_radio .choix label {
      display: inline-block;
      font-family: "robotoregular";
      margin: 0.8em 0 0.1em 0
    }
    .saisie_sujet_message_auteur, .saisie_age_message_auteur, .saisie_radio {
      div {
        border: 1px solid rgb(255, 255, 255);
        padding:0 0 0.3em 1em;
        margin: 0.2em 0;
      }

    }

  textarea {
    width: 80%;
    border: 1px solid $couleur-cadre;
    @media screen and (max-width: $break-menu) {
      width: 100%;
    }
  }
}
.reponse_formulaire_erreur {
  color: red;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}
.erreur_message {
  color: #FF0606;
  display:block;
  margin-bottom: 0.4em;
}
.erreur input, .erreur textarea {
  background-color: #fcb5b5;
}
#main article p.reponse_formulaire_ok {
  background-color: #EFEEC6;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.5em 1em;
}
.formulaire_formidable_contactmdph .editer_input_4 {
	display: none;
}
