$break-menu: 800px;
form {
  padding: 0.5em 1em;
  margin: 1em 0;
  background-color: #E4F2F2;
  fieldset {
    padding: 0.5em;
    legend {
      font-family: "robotocondensedbold";
      padding: 0.5em;
    }
  }

  label {
    font-family: "robotocondensedbold";
    display: block;
    margin: 1em 0 0.5em 0;
  }
  input {
    font-size: 1em;
    border: 1px solid #000;
    padding: 0.3em 1em;
    @media screen and (max-width: $break-menu) {
      width: 100%;
    }
  }

  textarea {
    width: 80%;
    border: 1px solid #000;
    @media screen and (max-width: $break-menu) {
      width: 100%;
    }
  }
}
.reponse_formulaire_erreur {
  color: red;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}
.erreur_message {
  color: #FF0606;
  display:block;
  margin-bottom: 0.4em;
}
.erreur input, .erreur textarea {
  background-color: #fcb5b5;
}
#main article p.reponse_formulaire_ok {
  background-color: #EFEEC6;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.5em 1em;
}
