
//SCSS
// reset
@import "reset";
@import "print";


/* fin */
/* style de la MDPH */
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotocondensedbold';
    src: url('../fonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$break-small: 360px;
$break-menu: 800px;
$break-large: 1200px;
body {
  overflow-y: scroll;
}
a {
  color: #008080;
  text-decoration: none;
}
a:hover,a:focus {
  color: #9C8512;
  text-decoration: underline;
}

hr {
	color: #ddd;
}
body {
	margin-bottom: 3em;
	font-family: robotoregular, Fallback, sans-serif;
	word-wrap : break-word;
	hyphens : auto;
}
h1,h2,h3,h4,h5,h6 {
	word-wrap : normal;
	hyphens:manual ;
}
h1 {
		font-family: 'robotocondensedbold';
		font-size: 1.8em;
		max-width: 100%;
    color:#613665;
		margin: 0.5em 0;
		@media screen and (max-width: $break-menu) {
			font-size: 1.5em;
      margin-top:1em;
			}
	}
body {
	@media screen and (min-width: $break-menu) {
		background: transparent url('../images/fond_ecran.png') no-repeat center fixed;
		background-size: cover;
	}
}
#menu_ferme {
	z-index: 5;
}
div.direct a {
	display: inline-block;
	position: absolute;
	left: -467em;
	z-index: 1000;
	height: 0;
}
div.direct a:focus{
	position: relative;
	left: 0.8em;
	@media screen and (min-width: $break-menu) {
		left: 18em;
	}
	background-color: #4A4A4A;
	color: #fff;
	top: 0.6em;
	min-height: 2em;
	}
.flash_info {
	position: relative;
	text-align: justify;
	z-index: -1;
	bottom: -2em;
	background-color: #5C3261;
	padding-bottom: 2em;
  width: 120%;
	color: #fff;
	font-size:0.85em ;
	line-height: 1.2em;
	font-size-adjust: 0.6;
	div h2 {
		font-weight: bold;
		margin-bottom: 0.85em;
    color:#fff;
	}
	.inner_flash {
		padding: 1em 10%;
	}
}
#main.conteneur {
	transition: all .20s ease-in;
	position: relative;
	left: 0;
	margin: 0 auto;
	@media screen and (max-width: $break-menu) {
		margin: 0.3em 0;
		padding: 0
	}
}
#main.sommaire {
	@media screen and (min-width: $break-menu) {
		margin: 0 auto;
	}
}
header.conteneur{
	display: flex;
	margin-top: 0;
	@media screen and (min-width: $break-menu) {
		//margin: 0 auto;
	}
}
.conteneur {
		display: flex;
		flex-direction: column;
		//align-items: center;
		padding-bottom: 3em;
		background-color: rgba(255,255,255,0.8);
		@media screen and (min-width: $break-menu) {
			max-width: 53em;
		}
		@media screen and (min-width: $break-menu) {
			display: block;
		}
}

.conteneur.sommaire {
		display: flex;
		background: none;
		align-items: center;
		@media screen and (min-width: $break-menu) {
			margin: 0 auto;
		}

}

h1.logoMDPH img {
	width: 100%;
	max-width: 350px;
	padding: 2.4em 1em 0.07em 1em;
	@media screen and (max-width: $break-menu) {
		max-width: 275px;
    padding: 0 1em 0.07em 1em;
	}
}
@media screen and (max-width: $break-menu) {
	#fil_ariane .logoMDPH {display: none};
}
header .entete{
	position: fixed;
	width: 100%;
	background-color: #d4cb13;
	min-height: 3em;
	z-index: 2;
	//display:flex;
	//flex-direction: row-reverse;
	align-items: center;
    span.textheader {
      font-size: 1.2em;
    }
	}
  header.sommaire .entete {
    position: fixed;
    float:left;
    width: auto;
    left:0px;
    background-color: rgba(0,0,0,0);
  }
  a.logoMDPHmin {
  	padding: 0.4em 0.6em 0 0;
  	color:#000;
  	float:right;
    display:flex;
  	align-items: center;
  	span {
  		margin-right: 0.7em;
      font-family: robotocondensedbold;
  	}
  }
#nav-toggle {
  position: relative ;
  color:#fff;
  padding: 0.7em 0 0 0.3em;
  left: 0;
  float: left;
  align-items: center;
  span {
  	margin-left: 0.5em;
    position: relative;
    bottom: 0.35em;
    font-family: robotocondensedbold;
  }
}
#nav-toggle:focus, #nav-toggle:hover {
  text-decoration: underline;
}
#fermer_menu {
	position: relative;
	color: #FFFFFF;
	align-items: center;
	padding: 0.3em 0.3em;
	float: right;
  span {
    margin-right: 0.5em;
    bottom:0.2em;
    position : relative;
  }
}
#fermer_menu:hover, #fermer_menu:focus{
	color: #D0C813;
	text-decoration: underline;
}

#nav-collapse {
	z-index: 4;
	//transition: all .25s ease-in;
	overflow: auto;
	width: 18em;
	background-color: #4A4A4A;
	height: 100%;
	position: fixed;
	top: 0;
	left: -18.6em;
	/* dialog bg: */
	box-shadow: 0 0 0.6em 0 rgba(0,0,0,0.22), 0 0.6em 0.6em 0 rgba(0,0,0,0.30);

	.titre_menu {
		margin: 1.5em 1.3em;
		border: none;
		border-top: 0.07em solid #fff;
	}
.titre_menu.premier {
    margin-top:3em;
}
	ul li {
		list-style-type: none;
		margin: 1.3em;
		a {
			color: #fff;
			font-family: 'robotocondensedbold';
			font-size: 1.1em;
			display: flex;
			align-items: center;
			img {
				margin-right: 0.5em;
        display: inline-block;
			}
		}
		a:hover, a:focus {
			color:  #D0C813;
			text-decoration: underline;
		}
	}
}

.menu_central {
	width: 90%;
	max-width: 30em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	li {
		width: 100%;
		text-align: center;
	}
}
.menu_central li a{
	background-color: #E2DD77;
	font-size: 1.25em;
	display: flex;
	justify-content: left;
	align-items: center;
	text-transform: uppercase;
	color: black;
	width: 100%;
	text-align: center;
	padding: 0.6em 0;
	border-radius: 1em;
	margin: 0.3em 0;
	img {
		margin: 0 2em;
		@media screen and (max-width: $break-small) {
			margin: 0 1.4em;
		}
	}
}
.menu_central li:first-child a {
	background-color: #D4CB13;
}
.menu_central li:last-child a {
	background-color: #EFEEC6;
}
.menu_central li a:hover,.menu_central li a:focus{
	background-color: darken(#E2DD77, 20%);
}

/* J'ai une question: */
.question {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'robotocondensedbold', sans-serif;
	font-size: 1em;
	color: #5B3160;
	line-height: 1.7em;
	margin: 1.6em 1em 0.3em 1em;
	text-align: center;
}
.btnaction {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0.3em 0;
}
.question:hover, .question:focus {
	color: #C8C12B;
}
p#lienpartage {
	display: none;
}
button {
	border: none;
	background: transparent ;
}
footer {
	position: fixed;
	background-color: #4A4A4A;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	width: 100%;
	font-style: italic;
	font-size: 0.75em;
	ul {
		display: flex;
		align-items: center;
    li {
      padding: 0.75em 0;
    }
		li a {
			color: #FFF;
			align-items: stretch;
			justify-content : center;
			margin: 1em 0;
		}
		li span {
      align-items: stretch;
      justify-content : center;
      padding: 0 0.5em;
			content: " \2212 ";
			color:  #FFF;
		}
		li span.dernier {
		  display:none;
		}
		li a:hover, li a:focus {
			color: #C8C12B;
		}
	}
}


#main_bloc, #main {

	p {
		padding: 0.6em 30px;

	}
	header h3 {
		font-family: 'robotoregular';
		font-size: 1.4em;
		padding: 1.4em 0;
	}
	h1.cadre {
		font-family: 'robotoregular', sans-serif;
		border: 1px solid #613665;
		font-size: 1.25em;
		display: flex;
		justify-content: left;
		align-items: center;
		text-transform: uppercase;
		color: #613665;
		background-color: #fff;
		width: 100%;
		text-align: center;
		padding: 0.6em 0.6em 0.6em 0;
		border-radius: 20px;
		margin: 0em;
		img {
			margin: 0 1em;
					}
		}
	.petites_rub {
		font-family: 'robotoregular', sans-serif;
    display: inline-block;
    font-weight:bold;
		font-size: 1.0em;
		color: #613665;
		line-height: 1.5em;
		margin:0.6em 0;
  }
  .grandes_rub {
		a {
      font-family: 'robotoregular', sans-serif;
      border: 1px solid #613665;
      font-size: 1.25em;
      display: flex;
      justify-content: left;
      align-items: center;
      text-transform: uppercase;
      color: #613665;
      background-color: #fff;
      width: 100%;
      text-align: center;
      padding: 0.6em 1em;
      border-radius: 20px;
				img {
					margin: 0 0.7em 0 0;
				}
			}

	}
}
.nav_rub {
	width: 100%;
	margin: 0.6em 0;
}
.nav_rub_second,.nav_rub_second_visible {
	padding: 0.3em 1em 0.3em 0;
  margin-left: 2.6em;
  margin-bottom: 1.4em;
	li a {
		display:block;
		font-family: 'robotocondensedbold', sans-serif;
		font-size: 1.1em;
		color: #5C3261;
		line-height: 1.3em;
		padding: 0.5em 0;
		//border-bottom: 0.07em solid #5C3261;

		@media screen and (min-width: $break-menu) {
			min-width: $break-menu - 100px;
		}
	}
	li a:hover, li a:focus {
		color: #d4cb13;
	}
}

	.rechercher {
		margin: 0.5em 1em;
	}
	#form_question {
		display: flex;
		flex-direction: column;
		width:100%;
		max-width: 33em;
		input#message {
      width:100%;
			font-size: 1em;
			height: 2.5em;
			border: none;
			background-color: #EFEEC6;
			margin-top: 0.6em;
      padding: 0.5em;
			font-family: 'robotoregular';
			box-shadow: inset 0 0.07em 0.14em 0 rgba(0,0,0,0.50);
		}
		label {
			font-family: 'robotoregular', sans-serif;
			font-size: 1.4em;
			color: #613665;
			line-height: 1.8em;
			padding: 0.7em 0;
		}
	}
	.btnviolet {
		margin-top: 1em;
		align-self: flex-end;
		background: #5C3261;
		border-radius: 1.2em;
		padding: 0 0.6em 0.2em 0.6em;
		color: #fff;
		border: none;
    float:right;
		font-family: 'robotoregular', sans-serif;
		font-size: 1em;
		cursor: pointer;
	}

  h2.liste_reponse {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.4em;
    color: #613665;
    line-height: 1.5em;
    padding: 0.6em 1em;
  }

	ul.liste_reponse {
    padding:0 2em;
		hr {
			border: 0.07em solid #D2C800;
			border-bottom: none;
		}
		li.niv1 {
      margin: 1em 0 2em 0;
    }
    li {
			a {
				word-wrap : normal;
				hyphens:manual ;
				font-family: 'robotocondensedbold', sans-serif;
				font-size: 1.2em;
        line-height: 1.44em;
				color: #5C3261;
				display: block;
			}
      div.texte {
				color: #545454;
				font-size: 1em;
        line-height:1.4em;
	    }
			p {
				font-size: 1em;
			}
      .rechprinc {
        font-size: 1.1em;
        color: #006621;
        line-height: 1.23em;
      }
      ul {
        padding:0 1em;
        li {
          margin-top: 0.1em;
          padding: 0.4em 0.4em 0.2em 0.3em;
        }
      }
			em a {
        font-family: 'robotoregular', sans-serif;
				display: inline-block;
        font-size: 1.1em;
			}

			.btnblanc {
				background: #fff;
				color: #5C3261;
				font-family: 'robotoregular';
				border: 0.07em solid #D2C800;
				font-size: 1em;
				display: inline-block;
				float: right;
        margin-top: 1em;
        align-self: flex-end;
        border-radius: 1.2em;
        padding: 0 0.6em 0.2em 0.6em;
        cursor: pointer;

			}
		}
		li:after {
			content: "\0020";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
			overflow: hidden;
		}
	}
	.btnviolet:hover, .btnviolet:focus {
		background: darken(#D2C800,20%);
	}
	a.btnviolet {
		padding: 0.14em 0.5em;
	}
	.btnviolet:hover, .btnviolet:focus {
		background: darken(#5C3261,20%);
	}

#minifil {
  padding: 0.5em 30px;
  background-color: #FFF;
  width: 100%;
  @media screen and (max-width: $break-menu) {
    //display:none;
  }
}
#fil_ariane {
	background-color: #F3F3F3;
	padding: 0.6em 30px;
	display: flex;
	width: 100%;
	align-items: center;
	flex-direction:row-reverse;
	justify-content: space-between;
  .logoMDPH img {
    width: auto;
    height: 8em;
  }
  @media screen and (max-width: $break-menu) {
    flex-direction: row;
    margin-top: 0.4em;
	}
}

a.ariane {
	margin: 0.6em 1em;
	padding: 0 1em;
	color: #5C3261;
}
.chapo {
  font-family: robotoregular;
	font-size: 1.2em;
	color: #613665;
	margin-bottom: 1em;
  font-weight: bold;
	hyphens : none;
	line-height: 1.35em;
  @media screen and (max-width: 53em)
  {
    font-size:1.1em;
  }
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}

#main {
	max-width: 60em;
  .pliage {
    //border: 0.07em solid #eee;
    padding: 0.6em 0;
    text-align: right;
    .btn-collapse-up {
      display: none;
    }
  }
  button.btn-collapse {
		padding-right: 2em;
	}
	button.btn-collapse-up{
		background: #FFFFFF url(../images/fhaut.png) right center no-repeat;
	}
	button.btn-collapse-down{
		background: #FFFFFF url(../images/fbas.png) right center no-repeat;
	}
	h2 button:hover, h2 button:focus, h2 button.active {
		background: #EFEEC6 url(../images/fbas.png) right center no-repeat;
		text-decoration: underline;
    cursor: pointer;
	}
  .cartouche h1 {
    padding-left: 30px;
  }
  h1 {
    padding-left: 0;
    margin:0;
  }
  h2 {
		font-size: 1.2em;
		color: #5c3261;
		margin: 0;
		padding: 0;
	}
	h2 button{
		width: 100%;
		text-align: left;
		font-family: 'robotocondensedbold';
		font-size: 1em;
		color: #5c3261;
		display: inline-block;
		background: #FFFFFF url(../images/fbas.png) right center no-repeat;
		padding: 0.5em 30px 0.5em 30px;
		border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    //border-top: none;
		margin-bottom: -1px;
		border-radius: 0;
	}

	article h2:first-child button, ul li:first-child h2 button {
		border-top: none;
	}
	article {
	/* habillage article */
  		padding: 0em 0em;
      position: relative;
      header {
        position: relative;
        width:100%;
        .titre {
          position: relative;
          z-index: 3;
        }
        .titre.fix-titre {
          top: 0.3em;
          width:100%;
          position: fixed;
          @media screen and (max-width: $break-menu) {
            display:none;
          }
          @media screen and (max-width: $break-menu + 350) {
            margin-left: 100px;
            h1 {
                margin-left: 0;
            }
          }
          h1 {
            width:100%;
          }
        }
        h1 {
            margin: 0.5em 30px 0.5em;
            position : relative;
            z-index: 3;
        }
        .chapo {
          margin: 0 30px 0.5em;
        }
        .chapo.fix-titre {
            margin: 2.3em 30px 0.5em;
        }
      }
      p {
				margin: 0;
				padding: 0;
			}
      ol {margin: 1.2em 2em;
        li {
          list-style-type:decimal;
        }
      }
		ul {
			margin: 0.8em 2em 1.2em 2em;
			li {
				list-style-type: square;
        ul {
          margin: 0.4em 0.8em;
          li {
            list-style-type: circle;
          }
        }
			}
    }
    ul.plan {
      margin: 0;
      li {
      list-style-type: none;
      }
      h3 {
        margin: 0;
      }
      h2 {
        border-top:1px solid #000000;
      }
      ul.nav_rub_second {
        padding: 0.3em 1em 0.3em 0;
        margin-left: 2.6em;
        margin-bottom: 1.4em;
        li a {
          display: block;
          font-family: 'robotocondensedbold', sans-serif;
          text-decoration: none;
          font-size: 1em;
          color: #5C3261;
          line-height: 1em;
          padding: 0.5em 0
        }
        li a:hover {
          text-decoration: underline;
          color:#008080;
        }
      }
    }

		a {
			color: #008080;
			text-decoration: underline;
		}
		a:hover,a:focus {
			color: #9C8512;
		}
    h3:first-child {
      margin-top: O;
    }
    h3 {
      font-family: 'robotocondensedbold', sans-serif;
      margin: 1.5em 0 0.5em 0;
      font-size: 1.2em;
    }
    h4,h5,h6 {
      font-family: 'robotocondensedbold', sans-serif;
      margin-top: 0.3em;
      font-size: 1.1em;
    }
    blockquote {
      h3 {

        font-size: 1.3em;
        text-transform: uppercase;
      }
      h2 button{
        background-color: #E4F2F2;
      }
    }
		.texteencadre-spip {
			padding: 0.5em 1em;
			margin: 1em 0;
			background-color: #E4F2F2;
			//border: 0.07em solid #ccc;
      h3 {
        margin-top:0.5em;
      }
		}
	sup {
		vertical-align: super;
		font-size:0.8em;
	}
	div.paragraphe, div.paragraphe_seul {
		@media screen and (min-width: $break-menu) {
			//max-width: 53em;
			hyphens : none;
			background-color: rgba(255, 255, 255, 0.6);
			font-family: arial;
		}
    margin-top: 1em;
		padding: 0.6em 30px 1em 30px;
    word-wrap : normal;
  	hyphens:manual ;
		//text-align: justify;
		line-height: 1.35em;
		font-size: 1em;
		}
	}
  div.paragraphe_seul p {
    margin-bottom: 1em;
  }
}
#sondage_form {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  max-width: 30em;
  fieldset {
    border: 1px solid #C8C12B;
    padding: 10px;
    background-color: #fff;
    margin: 10px 0;
  }
  legend {
    font-family: robotocondensedbold;
    font-size: 1.2em;
    background-color: #fff;
    padding: 5px;
  }
  .avis.js input {
	   position:absolute;
	    left:-999%;
  }
  /* Effet lorsque une note est cochée */
  .avis .choix input.note-checked {
    font-weight:bold;
  }
  /* Effet lorsque une note est tabulée au clavier */
  .avis.js .choix.note-focus {
	   outline:1px dotted #000;
  }
  .choix {
    display: inline-block;
    min-width:20px;
	  min-height:20px;
    margin-left: 20px;
    label {
      display:block;
    	text-align:center;
    	line-height:20px;
      font-size: 0.8em;
    	background:url(../images/etoiles.gif) center top no-repeat;
    	cursor:pointer;
    }
  }
  .choix.note-off label {
     background-position: center -60px;
  }
  .boutons input.submit {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	font-family: 'robotocondensedbold', sans-serif;
    	font-size: 1em;
    	color: #5B3160;
    	line-height: 1.2em;
    	margin: 0.6em 1em 0.3em 1em;
    	text-align: center;
  }
  .boutons input.submit:hover, .boutons input.submit:focus {
    color: #C8C12B;
  }
  h2 button{
		width: 100%;
		text-align: left;
		font-family: 'robotocondensedbold';
		font-size: 1em;
		color: #5c3261;
		display: inline-block;
		background: #FFFFFF url(../images/fbas.png) right center no-repeat;
		padding: 0.5em 30px ;
		border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
		//border-top: none;
		margin-bottom: -1px;
		border-radius: 0;
	}

	h2:first-child button{
		border: none;
	}
	button.btn-collapse {
		padding-right: 2em;
	}
	button.btn-collapse-up{
		background: #FFFFFF url(../images/fhaut.png) right center no-repeat;
	}
	button.btn-collapse-down{
		background: #FFFFFF url(../images/fbas.png) right center no-repeat;
	}
	h2 button:hover, h2 button:focus, h2 button:active {
		background-color: #EFEEC6 right center no-repeat;
		text-decoration: underline;

	}
}
