form {
  padding: 0.5em 1em;
  margin: 1em 0;
  background-color: #E4F2F2; }
  form fieldset {
    padding: 0.5em; }
    form fieldset legend {
      font-family: "robotocondensedbold";
      padding: 0.5em; }
  form label {
    font-family: "robotocondensedbold";
    display: block;
    margin: 1em 0 0.5em 0; }
  form input[type=text], form input[type=email], form select {
    font-size: 1em;
    border: 1px solid #c2c1c1;
    padding: 0.3em 1em; }
    @media screen and (max-width: 800px) {
      form input[type=text], form input[type=email], form select {
        width: 100%; } }
  form label.inline_norm, form .saisie_radio .choix label {
    display: inline-block;
    font-family: "robotoregular";
    margin: 0.8em 0 0.1em 0; }
  form .saisie_sujet_message_auteur div, form .saisie_age_message_auteur div, form .saisie_radio div {
    border: 1px solid white;
    padding: 0 0 0.3em 1em;
    margin: 0.2em 0; }
  form textarea {
    width: 80%;
    border: 1px solid #c2c1c1; }
    @media screen and (max-width: 800px) {
      form textarea {
        width: 100%; } }

.reponse_formulaire_erreur {
  color: red;
  display: block;
  font-weight: bold;
  font-size: 1.3em; }

.erreur_message {
  color: #FF0606;
  display: block;
  margin-bottom: 0.4em; }

.erreur input, .erreur textarea {
  background-color: #fcb5b5; }

#main article p.reponse_formulaire_ok {
  background-color: #EFEEC6;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  padding: 0.5em 1em; }

.formulaire_formidable_contactmdph .editer_input_4 {
  display: none; }
