@charset "UTF-8";
/* --------------------------------------------------------------

   reset.css
   Reinitialise les balises HTML
   License: none (public domain) - v2.0 | 20110126 - http://meyerweb.com/eric/tools/css/reset/

-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Print styles from HTML5 Boilerplate */
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; } }

button {
  font-size: 100%; }

/* --------------------------------------------------

   clear.css
   Aides a la composition
  (c) 2010-2016 Tiny Typo v1.3 - MIT License - tinytypo.tetue.net

 ----------------------------------------------------- */
/* Modele de boite
[fr] http://blog.goetter.fr/post/27612618411/box-sizing-et-pourquoi-pas
[en] http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media print {
  body {
    font-size: 1em;
    background: none; } }

/* fin */
/* style de la MDPH */
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'robotocondensedbold';
  src: url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  overflow-y: scroll; }

a {
  color: #008080;
  text-decoration: none; }

a:hover, a:focus {
  color: #9C8512;
  text-decoration: underline; }

hr {
  color: #ddd; }

body {
  margin-bottom: 3em;
  font-family: robotoregular, Fallback, sans-serif;
  word-wrap: break-word;
  hyphens: auto; }

h1, h2, h3, h4, h5, h6 {
  word-wrap: normal;
  hyphens: manual; }

h1 {
  font-family: 'robotocondensedbold';
  font-size: 1.8em;
  max-width: 100%;
  color: #613665;
  margin: 0.5em 0; }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 1.5em;
      margin-top: 1em; } }

@media screen and (min-width: 800px) {
  body {
    background: transparent url("../images/fond_ecran.png") no-repeat center fixed;
    background-size: cover; } }

#menu_ferme {
  z-index: 5; }

div.direct a {
  display: inline-block;
  position: absolute;
  left: -467em;
  z-index: 1000;
  height: 0; }

div.direct a:focus {
  position: relative;
  left: 0.8em;
  background-color: #4A4A4A;
  color: #fff;
  top: 0.6em;
  min-height: 2em; }
  @media screen and (min-width: 800px) {
    div.direct a:focus {
      left: 18em; } }

.flash_info {
  position: relative;
  text-align: justify;
  z-index: -1;
  bottom: -2em;
  background-color: #5C3261;
  padding-bottom: 2em;
  width: 120%;
  color: #fff;
  font-size: 0.85em;
  line-height: 1.2em;
  font-size-adjust: 0.6; }
  .flash_info div h2 {
    font-weight: bold;
    margin-bottom: 0.85em;
    color: #fff; }
  .flash_info .inner_flash {
    padding: 1em 10%; }

#main.conteneur {
  transition: all .20s ease-in;
  position: relative;
  left: 0;
  margin: 0 auto; }
  @media screen and (max-width: 800px) {
    #main.conteneur {
      margin: 0.3em 0;
      padding: 0; } }

@media screen and (min-width: 800px) {
  #main.sommaire {
    margin: 0 auto; } }

header.conteneur {
  display: flex;
  margin-top: 0; }

.conteneur {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  background-color: rgba(255, 255, 255, 0.8); }
  @media screen and (min-width: 800px) {
    .conteneur {
      max-width: 53em; } }
  @media screen and (min-width: 800px) {
    .conteneur {
      display: block; } }

.conteneur.sommaire {
  display: flex;
  background: none;
  align-items: center; }
  @media screen and (min-width: 800px) {
    .conteneur.sommaire {
      margin: 0 auto; } }

h1.logoMDPH img {
  width: 100%;
  max-width: 350px;
  padding: 2.4em 1em 0.07em 1em; }
  @media screen and (max-width: 800px) {
    h1.logoMDPH img {
      max-width: 275px;
      padding: 0 1em 0.07em 1em; } }

@media screen and (max-width: 800px) {
  #fil_ariane .logoMDPH {
    display: none; } }

header .entete {
  position: fixed;
  width: 100%;
  background-color: #d4cb13;
  min-height: 3em;
  z-index: 2;
  align-items: center; }
  header .entete span.textheader {
    font-size: 1.2em; }

header.sommaire .entete {
  position: fixed;
  float: left;
  width: auto;
  left: 0px;
  background-color: transparent; }

a.logoMDPHmin {
  padding: 0.4em 0.6em 0 0;
  color: #000;
  float: right;
  display: flex;
  align-items: center; }
  a.logoMDPHmin span {
    margin-right: 0.7em;
    font-family: robotocondensedbold; }

#nav-toggle {
  position: relative;
  color: #fff;
  padding: 0.7em 0 0 0.3em;
  left: 0;
  float: left;
  align-items: center; }
  #nav-toggle span {
    margin-left: 0.5em;
    position: relative;
    bottom: 0.35em;
    font-family: robotocondensedbold; }

#nav-toggle:focus, #nav-toggle:hover {
  text-decoration: underline; }

#fermer_menu {
  position: relative;
  color: #FFFFFF;
  align-items: center;
  padding: 0.3em 0.3em;
  float: right; }
  #fermer_menu span {
    margin-right: 0.5em;
    bottom: 0.2em;
    position: relative; }

#fermer_menu:hover, #fermer_menu:focus {
  color: #D0C813;
  text-decoration: underline; }

#nav-collapse {
  z-index: 4;
  overflow: auto;
  width: 18em;
  background-color: #4A4A4A;
  height: 100%;
  position: fixed;
  top: 0;
  left: -18.6em;
  /* dialog bg: */
  box-shadow: 0 0 0.6em 0 rgba(0, 0, 0, 0.22), 0 0.6em 0.6em 0 rgba(0, 0, 0, 0.3); }
  #nav-collapse .titre_menu {
    margin: 1.5em 1.3em;
    border: none;
    border-top: 0.07em solid #fff; }
  #nav-collapse .titre_menu.premier {
    margin-top: 3em; }
  #nav-collapse ul li {
    list-style-type: none;
    margin: 1.3em; }
    #nav-collapse ul li a {
      color: #fff;
      font-family: 'robotocondensedbold';
      font-size: 1.1em;
      display: flex;
      align-items: center; }
      #nav-collapse ul li a img {
        margin-right: 0.5em;
        display: inline-block; }
    #nav-collapse ul li a:hover, #nav-collapse ul li a:focus {
      color: #D0C813;
      text-decoration: underline; }

.menu_central {
  width: 90%;
  max-width: 30em;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .menu_central li {
    width: 100%;
    text-align: center; }

.menu_central li a {
  background-color: #E2DD77;
  font-size: 1.25em;
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  color: black;
  width: 100%;
  text-align: center;
  padding: 0.6em 0;
  border-radius: 1em;
  margin: 0.3em 0; }
  .menu_central li a img {
    margin: 0 2em; }
    @media screen and (max-width: 360px) {
      .menu_central li a img {
        margin: 0 1.4em; } }

.menu_central li:first-child a {
  background-color: #D4CB13; }

.menu_central li:last-child a {
  background-color: #EFEEC6; }

.menu_central li a:hover, .menu_central li a:focus {
  background-color: #c8c12b; }

/* J'ai une question: */
.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'robotocondensedbold', sans-serif;
  font-size: 1em;
  color: #5B3160;
  line-height: 1.7em;
  margin: 1.6em 1em 0.3em 1em;
  text-align: center; }

.btnaction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0.3em 0; }

.question:hover, .question:focus {
  color: #C8C12B; }

p#lienpartage {
  display: none; }

button {
  border: none;
  background: transparent; }

footer {
  position: fixed;
  background-color: #4A4A4A;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  font-style: italic;
  font-size: 0.75em; }
  footer ul {
    display: flex;
    align-items: center; }
    footer ul li {
      padding: 0.75em 0; }
    footer ul li a {
      color: #FFF;
      align-items: stretch;
      justify-content: center;
      margin: 1em 0; }
    footer ul li span {
      align-items: stretch;
      justify-content: center;
      padding: 0 0.5em;
      content: " \2212 ";
      color: #FFF; }
    footer ul li span.dernier {
      display: none; }
    footer ul li a:hover, footer ul li a:focus {
      color: #C8C12B; }

#main_bloc p, #main p {
  padding: 0.6em 30px; }

#main_bloc header h3, #main header h3 {
  font-family: 'robotoregular';
  font-size: 1.4em;
  padding: 1.4em 0; }

#main_bloc h1.cadre, #main h1.cadre {
  font-family: 'robotoregular', sans-serif;
  border: 1px solid #613665;
  font-size: 1.25em;
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  color: #613665;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.6em 0.6em 0.6em 0;
  border-radius: 20px;
  margin: 0em; }
  #main_bloc h1.cadre img, #main h1.cadre img {
    margin: 0 1em; }

#main_bloc .petites_rub, #main .petites_rub {
  font-family: 'robotoregular', sans-serif;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  color: #613665;
  line-height: 1.5em;
  margin: 0.6em 0; }

#main_bloc .grandes_rub a, #main .grandes_rub a {
  font-family: 'robotoregular', sans-serif;
  border: 1px solid #613665;
  font-size: 1.25em;
  display: flex;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  color: #613665;
  background-color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.6em 1em;
  border-radius: 20px; }
  #main_bloc .grandes_rub a img, #main .grandes_rub a img {
    margin: 0 0.7em 0 0; }

.nav_rub {
  width: 100%;
  margin: 0.6em 0; }

.nav_rub_second, .nav_rub_second_visible {
  padding: 0.3em 1em 0.3em 0;
  margin-left: 2.6em;
  margin-bottom: 1.4em; }
  .nav_rub_second li a, .nav_rub_second_visible li a {
    display: block;
    font-family: 'robotocondensedbold', sans-serif;
    font-size: 1.1em;
    color: #5C3261;
    line-height: 1.3em;
    padding: 0.5em 0; }
    @media screen and (min-width: 800px) {
      .nav_rub_second li a, .nav_rub_second_visible li a {
        min-width: 700px; } }
  .nav_rub_second li a:hover, .nav_rub_second li a:focus, .nav_rub_second_visible li a:hover, .nav_rub_second_visible li a:focus {
    color: #d4cb13; }

.rechercher {
  margin: 0.5em 1em; }

#form_question {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 33em; }
  #form_question input#message {
    width: 100%;
    font-size: 1em;
    height: 2.5em;
    border: none;
    background-color: #EFEEC6;
    margin-top: 0.6em;
    padding: 0.5em;
    font-family: 'robotoregular';
    box-shadow: inset 0 0.07em 0.14em 0 rgba(0, 0, 0, 0.5); }
  #form_question label {
    font-family: 'robotoregular', sans-serif;
    font-size: 1.4em;
    color: #613665;
    line-height: 1.8em;
    padding: 0.7em 0; }

.btnviolet {
  margin-top: 1em;
  align-self: flex-end;
  background: #5C3261;
  border-radius: 1.2em;
  padding: 0 0.6em 0.2em 0.6em;
  color: #fff;
  border: none;
  float: right;
  font-family: 'robotoregular', sans-serif;
  font-size: 1em;
  cursor: pointer; }

h2.liste_reponse {
  font-family: 'robotoregular', sans-serif;
  font-size: 1.4em;
  color: #613665;
  line-height: 1.5em;
  padding: 0.6em 1em; }

ul.liste_reponse {
  padding: 0 2em; }
  ul.liste_reponse hr {
    border: 0.07em solid #D2C800;
    border-bottom: none; }
  ul.liste_reponse li.niv1 {
    margin: 1em 0 2em 0; }
  ul.liste_reponse li a {
    word-wrap: normal;
    hyphens: manual;
    font-family: 'robotocondensedbold', sans-serif;
    font-size: 1.2em;
    line-height: 1.44em;
    color: #5C3261;
    display: block; }
  ul.liste_reponse li div.texte {
    color: #545454;
    font-size: 1em;
    line-height: 1.4em; }
  ul.liste_reponse li p {
    font-size: 1em; }
  ul.liste_reponse li .rechprinc {
    font-size: 1.1em;
    color: #006621;
    line-height: 1.23em; }
  ul.liste_reponse li ul {
    padding: 0 1em; }
    ul.liste_reponse li ul li {
      margin-top: 0.1em;
      padding: 0.4em 0.4em 0.2em 0.3em; }
  ul.liste_reponse li em a {
    font-family: 'robotoregular', sans-serif;
    display: inline-block;
    font-size: 1.1em; }
  ul.liste_reponse li .btnblanc {
    background: #fff;
    color: #5C3261;
    font-family: 'robotoregular';
    border: 0.07em solid #D2C800;
    font-size: 1em;
    display: inline-block;
    float: right;
    margin-top: 1em;
    align-self: flex-end;
    border-radius: 1.2em;
    padding: 0 0.6em 0.2em 0.6em;
    cursor: pointer; }
  ul.liste_reponse li:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }

.btnviolet:hover, .btnviolet:focus {
  background: #6c6700; }

a.btnviolet {
  padding: 0.14em 0.5em; }

.btnviolet:hover, .btnviolet:focus {
  background: #1c0f1e; }

#minifil {
  padding: 0.5em 30px;
  background-color: #FFF;
  width: 100%; }

#fil_ariane {
  background-color: #F3F3F3;
  padding: 0.6em 30px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between; }
  #fil_ariane .logoMDPH img {
    width: auto;
    height: 8em; }
  @media screen and (max-width: 800px) {
    #fil_ariane {
      flex-direction: row;
      margin-top: 0.4em; } }

a.ariane {
  margin: 0.6em 1em;
  padding: 0 1em;
  color: #5C3261; }

.chapo {
  font-family: robotoregular;
  font-size: 1.2em;
  color: #613665;
  margin-bottom: 1em;
  font-weight: bold;
  hyphens: none;
  line-height: 1.35em; }
  @media screen and (max-width: 53em) {
    .chapo {
      font-size: 1.1em; } }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

#main {
  max-width: 60em; }
  #main .pliage {
    padding: 0.6em 0;
    text-align: right; }
    #main .pliage .btn-collapse-up {
      display: none; }
  #main button.btn-collapse {
    padding-right: 2em; }
  #main button.btn-collapse-up {
    background: #FFFFFF url(../images/fhaut.png) right center no-repeat; }
  #main button.btn-collapse-down {
    background: #FFFFFF url(../images/fbas.png) right center no-repeat; }
  #main h2 button:hover, #main h2 button:focus, #main h2 button.active {
    background: #EFEEC6 url(../images/fbas.png) right center no-repeat;
    text-decoration: underline;
    cursor: pointer; }
  #main .cartouche h1 {
    padding-left: 30px; }
  #main h1 {
    padding-left: 0;
    margin: 0; }
  #main h2 {
    font-size: 1.2em;
    color: #5c3261;
    margin: 0;
    padding: 0; }
  #main h2 button {
    width: 100%;
    text-align: left;
    font-family: 'robotocondensedbold';
    font-size: 1em;
    color: #5c3261;
    display: inline-block;
    background: #FFFFFF url(../images/fbas.png) right center no-repeat;
    padding: 0.5em 30px 0.5em 30px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: -1px;
    border-radius: 0; }
  #main article h2:first-child button, #main ul li:first-child h2 button {
    border-top: none; }
  #main article {
    /* habillage article */
    padding: 0em 0em;
    position: relative; }
    #main article header {
      position: relative;
      width: 100%; }
      #main article header .titre {
        position: relative;
        z-index: 3; }
      #main article header .titre.fix-titre {
        top: 0.3em;
        width: 100%;
        position: fixed; }
        @media screen and (max-width: 800px) {
          #main article header .titre.fix-titre {
            display: none; } }
        @media screen and (max-width: 1150px) {
          #main article header .titre.fix-titre {
            margin-left: 100px; }
            #main article header .titre.fix-titre h1 {
              margin-left: 0; } }
        #main article header .titre.fix-titre h1 {
          width: 100%; }
      #main article header h1 {
        margin: 0.5em 30px 0.5em;
        position: relative;
        z-index: 3; }
      #main article header .chapo {
        margin: 0 30px 0.5em; }
      #main article header .chapo.fix-titre {
        margin: 2.3em 30px 0.5em; }
    #main article p {
      margin: 0 0 1em 0;
      padding: 0; }
    #main article ol {
      margin: 1.2em 2em; }
      #main article ol li {
        list-style-type: decimal; }
    #main article hr {
      width: 20%;
      margin: 1.5em auto;
      border: 1px solid #000;
      border-bottom: none; }
    #main article ul {
      margin: -0.7em 2em 1.2em 2em; }
      #main article ul li {
        list-style-type: square; }
        #main article ul li ul {
          margin: 0.4em 0.8em; }
          #main article ul li ul li {
            list-style-type: circle; }
    #main article ul.plan {
      margin: 0; }
      #main article ul.plan li {
        list-style-type: none; }
      #main article ul.plan h3 {
        margin: 0; }
      #main article ul.plan h2 {
        border-top: 1px solid #000000; }
      #main article ul.plan ul.nav_rub_second {
        padding: 0.3em 1em 0.3em 0;
        margin-left: 2.6em;
        margin-bottom: 1.4em; }
        #main article ul.plan ul.nav_rub_second li a {
          display: block;
          font-family: 'robotocondensedbold', sans-serif;
          text-decoration: none;
          font-size: 1em;
          color: #5C3261;
          line-height: 1em;
          padding: 0.5em 0; }
        #main article ul.plan ul.nav_rub_second li a:hover {
          text-decoration: underline;
          color: #008080; }
    #main article a {
      color: #008080;
      text-decoration: underline; }
    #main article a:hover, #main article a:focus {
      color: #9C8512; }
    #main article h3:first-child {
      margin-top: O; }
    #main article h3 {
      font-family: 'robotocondensedbold', sans-serif;
      margin: 1.5em 0 0.5em 0;
      font-size: 1.2em; }
    #main article h4, #main article h5, #main article h6 {
      font-family: 'robotocondensedbold', sans-serif;
      margin-top: 0.3em;
      font-size: 1.1em; }
    #main article blockquote h3 {
      font-size: 1.3em;
      text-transform: uppercase; }
    #main article blockquote h2 button {
      background-color: #E4F2F2; }
    #main article .texteencadre-spip {
      padding: 0.5em 1em;
      margin: 1em 0;
      background-color: #E4F2F2; }
      #main article .texteencadre-spip h3 {
        margin-top: 0.5em; }
    #main article sup {
      vertical-align: super;
      font-size: 0.8em; }
    #main article div.paragraphe, #main article div.paragraphe_seul {
      margin-top: 1em;
      padding: 0.6em 30px 1em 30px;
      word-wrap: normal;
      hyphens: manual;
      line-height: 1.35em;
      font-size: 1em; }
      @media screen and (min-width: 800px) {
        #main article div.paragraphe, #main article div.paragraphe_seul {
          hyphens: none;
          background-color: rgba(255, 255, 255, 0.6);
          font-family: arial; } }
  #main div.paragraphe_seul p {
    margin-bottom: 1em; }

.margeseul {
  margin-top: 1em;
  padding: 0.6em 30px 1em 30px; }

#sondage_form {
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  max-width: 30em;
  /* Effet lorsque une note est cochée */
  /* Effet lorsque une note est tabulée au clavier */ }
  #sondage_form fieldset {
    border: 1px solid #C8C12B;
    padding: 10px;
    background-color: #fff;
    margin: 10px 0; }
  #sondage_form legend {
    font-family: robotocondensedbold;
    font-size: 1.2em;
    background-color: #fff;
    padding: 5px; }
  #sondage_form .avis.js input {
    position: absolute;
    left: -999%; }
  #sondage_form .avis .choix input.note-checked {
    font-weight: bold; }
  #sondage_form .avis.js .choix.note-focus {
    outline: 1px dotted #000; }
  #sondage_form .choix {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    margin-left: 20px; }
    #sondage_form .choix label {
      display: block;
      text-align: center;
      line-height: 20px;
      font-size: 0.8em;
      background: url(../images/etoiles.gif) center top no-repeat;
      cursor: pointer; }
  #sondage_form .choix.note-off label {
    background-position: center -60px; }
  #sondage_form .boutons input.submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'robotocondensedbold', sans-serif;
    font-size: 1em;
    color: #5B3160;
    line-height: 1.2em;
    margin: 0.6em 1em 0.3em 1em;
    text-align: center; }
  #sondage_form .boutons input.submit:hover, #sondage_form .boutons input.submit:focus {
    color: #C8C12B; }
  #sondage_form h2 button {
    width: 100%;
    text-align: left;
    font-family: 'robotocondensedbold';
    font-size: 1em;
    color: #5c3261;
    display: inline-block;
    background: #FFFFFF url(../images/fbas.png) right center no-repeat;
    padding: 0.5em 30px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    margin-bottom: -1px;
    border-radius: 0; }
  #sondage_form h2:first-child button {
    border: none; }
  #sondage_form button.btn-collapse {
    padding-right: 2em; }
  #sondage_form button.btn-collapse-up {
    background: #FFFFFF url(../images/fhaut.png) right center no-repeat; }
  #sondage_form button.btn-collapse-down {
    background: #FFFFFF url(../images/fbas.png) right center no-repeat; }
  #sondage_form h2 button:hover, #sondage_form h2 button:focus, #sondage_form h2 button:active {
    background-color: #EFEEC6 right center no-repeat;
    text-decoration: underline; }
